*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* serch bar styling*/

.serch-con{
    width: 60%;
    height: 100px;
    display: flex;
    margin: auto;
    margin-top: 70px;
    
}

.serch-con .sub-serch {
  width: 90%;
  height: 45px;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(33, 30, 30);
 
}
.serch-con .sub-serch input{
    width: 90%;
    height: 30px;
    font-size: 20px;
    padding-left: 30px;
    border: 0;
    outline: 0;
    font-family: 'Belanosima', sans-serif;
}
.search-icon{
       height: 46px;
       width: 11%;
       background-color:blueviolet;
}
.search-icon:hover{
     background-color: rgb(51, 43, 59) ;
}
.search-icon i{

    font-size: 20px;
    color: white;
    margin-left: 17px;
    padding-top: 12px;
    
}


/* teachte container styling*/




.teacher-con2{
    width: 100%;
    height: 50px;
    margin: auto;
  
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}

.teacher-con2 select{
     
    width: 130px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    border:1.5px solid blueviolet;
    font-family: 'Belanosima', sans-serif;
}
::-webkit-keygen-select{
    color: red;
}



/* teacher profile */
.teacher-con1{
    width: 90%;
    height: 100vh;
    
}


.teach-pro{
    width: 85%;
    height: 350px;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    
    box-shadow: 0 0 10px rgba(0, 0,0,0.10);
    margin-top: 30px;
   
}

.teach-pro .teach-img{
    width: 100px;
}

.teach-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 40px;
    margin-left: 20px;

}
.teach-info{
    width: 80%;
      margin-top: 60px;
    margin-left: 100px;
}

.teach-info p{
    font-family: 'Belanosima', sans-serif;
    font-size: 15px;
    color: rgb(88, 83, 83);
}
.teach-info-1 .name{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.teach-info-1 .name .name-1 h1{
         
          font-size: 35px;
          font-family: 'Belanosima', sans-serif;
}
.teach-info-1 .name-star{
    margin-right: 30px;
    margin-top: -80px;
}
.teach-info-1 .name-star i{
  font-size: 30px;
  color: yellow;

}

.teach-info-1-1{
    width: 100%;
    
    margin-top: 30px;
}

.teach-info-1-1 p{
    font-size: 17px;
    font-family: 'Belanosima', sans-serif;
    font-weight: 200;
    word-spacing: 6px;
    
}
.teach-info-1-1 .subject{
    width: 80%;
    height: 60px;
    display: flex;
    
    align-items: center;
    justify-content: space-around;
}
.teach-info-1-1 .subject p{
    width: 23%;
    background-color:rgba(34, 110, 137, 0.151);
    text-align: center;
    border-radius: 25px;
    padding: 3px;
    color: black;
    font-family: 'Belanosima', sans-serif;
}
.teach-info-1-1 .subject p:hover{

    background-color:rgba(129, 65, 193, 0.178) ;
    
}

#view-pro{
    
    width: 100%;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color:rgb(120, 109, 109);
}














  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
    font-size: 0px;
   
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  
